env
.env
.git
src/bootstrap/cache/*
src/node_modules
src/public/dist/*
src/storage/app/*
src/storage/framework/cache/*
src/storage/framework/sessions/*
src/storage/framework/views/*
src/storage/logs/*
src/resources/vapp/*